<!DOCTYPE html>
<head>
  <title>MVG</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}" media="screen" title="no title" charset="utf-8">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  {% if autorefresh %}
    <meta http-equiv="refresh" content="10; URL=/">
  {% endif %}
</head>
<body>
  <div class="container">
  {% block content scoped %}

  {% endblock %}
  </div>
</body>
